essa configuração aqui funciona em outro site na mesma revenda:RewriteEngine OnOptions +FollowSymlinksRewriteCond %{HTTPS} offRewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]RewriteCond %{THE_REQUEST} \ /(.+/)?index(\.html)?(\?.*)?\  [NC]RewriteRule ^(.+/)?index(\.html)?$ /%1 [R=301,L]RewriteCond %{ENV:REDIRECT_STATUS} ^$RewriteRule ^(.+)\.html$ /$1 [R=301,L]RewriteCond %{SCRIPT_FILENAME}.html -fRewriteRule [^/]$ %{REQUEST_URI}.html [QSA,L]RewriteCond %{HTTP_HOST} ^oliveiraalpinsmo.com.br$RewriteRule ^/?$ "https\:\/\/www\.oliveiraalpinsmo\.com\.br\/" [R=301,L]RewriteCond %{HTTP_HOST} ^oliveiraalpinsmo.com.br$ [NC]RewriteRule (.*)$ https://www.oliveiraalpinsmo.com.br/$1 [R=301]