RewriteEngine On# 1. Se o usuário digitar .html, remove (Redirecionamento 301)RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]RewriteRule ^ /%1 [R=301,L,NE]# 2. Se o usuário acessar sem extensão, o servidor busca o .html internamenteRewriteCond %{REQUEST_FILENAME} !-dRewriteCond %{REQUEST_FILENAME}.html -fRewriteRule ^(.+)$ $1.html [L,QSA]